{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Badges</title>
</head>
<body>
    <hr>
    {% for student in students %}
    <a href='http://localhost:8082/badge/verify?name={{student.student_badge.badge_name}}&email={{student.student_email}}' target="__blank">
        <div class="col-md-6 col-lg-3">
            <div class="card">
                <img class="img-fluid" src='{{student.student_badge.badge_image.url}}' alt='{{student.student_badge.badge_name}}' style="width: 40%; height: 240px;">
                <div style="height:200px">
                    <h5>{{student.student_email}}</h5>
                    <p>{{student.student_badge.badge_name}}</p>
                </div>
                <div>
                    <p><small class="text-muted">{{student.student_badge.badge_description}}</small></p>
                </div>
            </div>
        </div>
    </a>
    <br>
    <br>
    <hr>
    {% endfor %}
</body>
</html>